.break{
    flex-basis: 100%;
    height: 0;
}

#room-menu{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

#room-menu > *{
    margin: 1vw;
}



#character-select{
    height: 73vh;
    display:none; /*flex*/
    align-items: flex-start;
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

.character{
    height: 37%;
    width: 21%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

.character-info{
    height: 27%;
    width: inherit;
    position: absolute;
}

.character-info div{
    visibility: hidden;
    height: 100%;
    width: 100%;
    align-items: center;
    flex-wrap:wrap;
    align-content: center;
    display:flex;
    justify-content: center;
    padding: 5%;
}

.character-info:hover div{

    background-color: rgb(214, 214, 214);
    visibility: visible;
}

.character-info-text{
    flex-basis: 100%;
    text-align: center;
    font-weight: bolder;
}
.green-text{
    color: green;
}
.red-text{
    color:red;
}
.orange-text{
    color: orange;
}



.character-icon{
    max-width: 80%;
    max-height: 70%;
}

/*board stuff*/

#board{
    height: 73vh;
    display:none;
}
.board-row{
    display:flex;
    /*border: 5px solid green*/
    height: 16%;
    text-align: center;
    align-items: center;
    border: 1px solid black;
}

.board-questions{
    height: 100%;
}

.board-cell{
    width: 20%;
    font-size: large;
    font-weight: bold;
    height: 100%;
    border: 1px solid black;
}

#power-used{
    display: flex;
    align-items: center;
    background-color: white;
    width: 50vw;
    column-gap: 1vw;
    z-index: 9999;
    position:absolute;
    top: 30vh;
    left: -50vw;
    animation-name: power-used;
    animation-duration: 3s;
}

@keyframes power-used {
    0%{left: -50vw;}
    20%{left: 33vw;}
    80%{left: 33vw;}
    100%{left: 100vw;}
}

/*questions*/
#question-screen{
    height: 73vh;
    display: none;

    align-items: center;
    justify-content: center;
}

#question-text{
    font-size: 50px;
    display: flex;
    column-gap: 10vw;
}
.question-img{
    height: 50vh;
}
.question-vid{
    height: 70vh;
}
#answer-text{
    font-size: 50px;
    display: flex;
    column-gap: 10vw;
}
#answer-screen{
    height: 73vh;
    display: none;

    align-items: center;
    justify-content: center;
}

/*final jeopardy*/
#final-jeopardy-wager{
    height: 73vh;

    flex-direction: column;
    display:none; /*display: flex*/
    align-items: center;
    justify-content:space-evenly


}

.wager-box{
    width: 10vw;
    display:none;
}

/*win-screen*/
#win-screen{
    height: 73vh;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: none;
}
#winner-icon{
    width: 15vw;
}

/*players*/

#players{
    border: 5px solid blue;
    height: 27vh;
    margin: 0;
    display: none; /*flex*/
    justify-content: space-around;
}

.player{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.player-icon{
    height: 10vh;
}

.buttons{
    display:none;
}

.power-button{
    display:none;
}


/* for joingame */
#buzzer{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    background-image: linear-gradient(to right, black, red 400px, black 800px);
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    font-size: 400%;
}

#buzzer:disabled{
    background-image: linear-gradient(to right, black, gray 400px, black 800px);
    background-size: 800px 100%;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    color:black;
}   

#power-button{
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
    background-image: url('https://res.cloudinary.com/uktv/image/upload/v1375370891/err4wnmueojcwzrrsucu.jpg');
    background-size: 800px 100%;
    background-position: 30% 0%;
    background-repeat: no-repeat;
    font-size: 350%;
    color:lightblue
}
#power-button:disabled{
    background-image: none;
}

#power-uses{
    text-align: center;
}

#player-controls{
    display:none; /*flex*/
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

#money{
    font-size: 10vh;
    color: green;
}

#confetti-canvas{
    position:fixed;
    top: 0;
}